# Clustering of Airbnb Lists

Pre-assessment HW on Jan 3rd, 2017

Source of data: http://insideairbnb.com/get-the-data.html

### Load data into Pandas

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [79]:
listings = pd.read_csv("data/Airbnb_listings_20171002.csv")

In [80]:
listings.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,16570521,Lands' End hideaway,21303289,Eugenia And Alessandro,NaN,Seacliff,37.787331,-122.492117,Private room,120,4,15,2017-09-04,2.02,2,70
1,8001958,Ocean and park front panoramic view,24591867,Raul,NaN,Seacliff,37.780708,-122.509160,Entire home/apt,1850,1,0,NaN,NaN,1,0
2,8388658,Mid-century Seacliff near GG Bridge,9996441,Howard,NaN,Seacliff,37.787664,-122.489152,Entire home/apt,895,3,0,NaN,NaN,1,0
3,16064495,Charming home with views of the Golden Gate Br...,25596860,Teresa,NaN,Seacliff,37.787923,-122.484357,Entire home/apt,975,2,0,NaN,NaN,1,0
4,15664146,Spacious 3 beds in convenient/safe neighborhood,101134145,Ey,NaN,Seacliff,37.784365,-122.489515,Entire home/apt,295,2,40,2017-09-14,3.86,1,123

In [17]:
features = ['neighbourhood','room_type','price','minimum_nights','number_of_reviews','reviews_per_month','availability_365','last_review']

In [19]:
lists = listings[features]

In [21]:
lists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8933 entries, 0 to 8932
Data columns (total 8 columns):
neighbourhood        8933 non-null object
room_type            8933 non-null object
price                8933 non-null int64
minimum_nights       8933 non-null int64
number_of_reviews    8933 non-null int64
reviews_per_month    7123 non-null float64
availability_365     8933 non-null int64
last_review          7123 non-null object
dtypes: float64(1), int64(4), object(3)
memory usage: 558.4+ KB

In [29]:
lists.loc['last_review_datetime'] = pd.to_datetime(lists['last_review'])

/Users/Crystal/.msba-notes/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
lists.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8934 entries, 0 to last_review_datetime
Data columns (total 9 columns):
neighbourhood           8933 non-null object
room_type               8933 non-null object
price                   8933 non-null object
minimum_nights          8933 non-null object
number_of_reviews       8933 non-null object
reviews_per_month       7123 non-null float64
availability_365        8933 non-null object
last_review             7123 non-null object
last_review_datetime    7123 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 698.0+ KB

When "number_of_reviews" is zero, transform the "reviews_per_month" from null to zero.

In [37]:
lists['reviews_per_month'] = np.where(lists['number_of_reviews'] == 0, 0, lists['reviews_per_month'])

/Users/Crystal/.msba-notes/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
lists.head(10)

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,last_review,last_review_datetime
0,Seacliff,Private room,120,4,15,2.02,70,2017-09-04,2017-09-04
1,Seacliff,Entire home/apt,1850,1,0,0.00,0,NaN,NaT
2,Seacliff,Entire home/apt,895,3,0,0.00,0,NaN,NaT
3,Seacliff,Entire home/apt,975,2,0,0.00,0,NaN,NaT
4,Seacliff,Entire home/apt,295,2,40,3.86,123,2017-09-14,2017-09-14
5,Seacliff,Entire home/apt,159,2,332,6.65,51,2017-09-26,2017-09-26
6,Seacliff,Entire home/apt,750,3,7,2.88,162,2017-09-20,2017-09-20
7,Seacliff,Entire home/apt,169,6,4,0.83,175,2017-09-17,2017-09-17
8,Seacliff,Entire home/apt,170,30,6,0.08,293,2017-08-31,2017-08-31
9,Seacliff,Entire home/apt,183,3,142,3.76,323,2017-09-29,2017-09-29

### Use apply function

convert availability_365 from the number of days available to the percentage of the whole year that is available

In [56]:
lists['availability_365_perc'] = lists['availability_365'].apply(lambda x: np.round(x/365, 2))

/Users/Crystal/.msba-notes/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
lists.head(5)

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,last_review,last_review_datetime,availability_365_perc
0,Seacliff,Private room,120,4,15,2.02,70,2017-09-04,2017-09-04,0.19
1,Seacliff,Entire home/apt,1850,1,0,0.00,0,NaN,NaT,0
2,Seacliff,Entire home/apt,895,3,0,0.00,0,NaN,NaT,0
3,Seacliff,Entire home/apt,975,2,0,0.00,0,NaN,NaT,0
4,Seacliff,Entire home/apt,295,2,40,3.86,123,2017-09-14,2017-09-14,0.34

### Data visualization

In [83]:
import seaborn as sns
sns.set_style("whitegrid")

In [98]:
price = sns.load_dataset("price")
sns.distplot(price)

HTTPError: HTTP Error 404: Not Found

In [93]:
#ax = sns.barplot(x="neighbourhood", y="availability_365_perc", data=lists)

In [88]:
lists['neighbourhood'] = lists['neighbourhood'].astype('str')

In [92]:
#listings.groupby('room_type').size().plot(kind = 'bar')

In [90]:
price = pd.DataFrame(lists['price'])
price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8934 entries, 0 to last_review_datetime
Data columns (total 1 columns):
price    8933 non-null object
dtypes: object(1)
memory usage: 459.6+ KB

In [91]:
#lists.plot.hist(column = "price", bins = 10)